.alert {
    padding: .3rem 1rem !important;
    margin-top: 10px;
}

.del-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.select2-container .select2-selection--single{
    height: 100% !important;
}

.select2-container{
    display: flex !important;
    flex-direction: column !important;
}

.select2-selection__arrow{
    height: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: #271cce !important;
}
